.signin {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signin__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.signin__button {
    align-self: flex-end;
}

.signin__error {
    font-size: 0.75rem;
    color: #d32f2f;
    margin: 3px 14px 0 14px;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}